<footer class="footer grid mb-0">
  <p class="footer__copyright">&copy; {% year %}
    <a class="footer__link" href="{{ metadata.author.github }}">
      Ygoex</a> - Powered by <a class="footer__link" href="https://11ty.io">
      Eleventy</a> and <a class="footer__link" href="https://www.netlify.com">
      Netlify</a>
  </p>
</footer>
