<footer class="footer grid mb-0">
  <p class="footer__copyright">
  <a href="/catalog/a-tec 100/">Детали A-TEC 100</a> | <a href="/catalog/a-tec 101/">Детали A-TEC 101</a> | <a href="/catalog/a-tec 110/">Детали A-TEC 110</a> 
  </p>
  <p class="footer__copyright">info@studding.ru | Ленинградский проспект 47/2, Москва 125167 | Studding.ru © 2022 
  </p>
</footer>
