---
title: Каталог продукции
eleventyComputed:
    description: Детали и расходные элементы для шиповальных станков A-Tekniikka A-TEC 100, A-TEC 101 и A-TEC 110
permalink: /catalog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
eleventyNavigation:
  key: Каталог
  order: 2
pagination:
  data: collections.posts
  size: 12
  alias: posts
  reverse: true
---

{% extends 'layouts/home.njk' %}

{% block content %}
  <div class="blog-heading-tags">
    <h1>{{ title }}</h1>
    {{ component('tags-list', {
        tags: collections.tagList
    }) }}
  </div>


  {% set allPosts = collections.posts %}
  {% set postslist = posts %}

  {% include "layouts/partials/posts-list.njk" %}
  {% include "layouts/partials/pagination.njk" %}

{% endblock %}
